@import './sections/index';

main {
    margin-top: 74px;
    background-image: url('/src/assets/Background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}