.project__card {
    height: fit-content;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 0.6rem;
    border: 1px solid var(--violetLight-color);
    background-color: var(--grey-color);

    .card__img {
        width: 100%;
        height: 10rem;
        background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/e3651e155645153.Y3JvcCwzMDY4LDI0MDAsNjgsMA.png');
        background-size: cover;
        background-position: center;
        margin-bottom: 0.4rem;
    }

    .card__title {
        color: var(--violetLight-color);
    }
}