@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

// Colors
$colorWhite: rgb(255, 255, 255);
$colorDark: rgb(31, 21, 41);
$colorViolet: rgb(97, 1, 193);
$colorPink: rgb(255, 61, 177);

$colorDark--light: rgb(31, 21, 41, .2);
$colorPink--light: rgb(255, 61, 177, .2);
$colorWhite--light: rgb(255, 255, 255, .02);

// Sizes
$s120: 7.5rem;
$s96: 6rem;
$s64: 4rem;
$s40: 2.5rem;
$s32: 2rem;
$s24: 1.5rem;
$s18: 1.125rem;
$s16: 1rem;
$s14: 0.875rem;
$s8: 0.5rem;

// Typography
$lineHeight: $s24;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 800;