.hero__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: $s32;

    @include for-phone-only {
        column-gap: 0;
        row-gap: $s96;
    }

    .hero__info {
        display: flex;
        grid-column: span 2;
        flex-direction: column;
        justify-content: space-between;
        padding: $s64;
        gap: $s32;
        border-radius: $s16;
        background-color: $colorDark--light;

        @include for-phone-only {
            padding: 0;
            padding-right: $s32;
            border-radius: 0;
            background-color: transparent;
            border-right: 1px solid $colorPink--light;
        }

        .hero__span {
            @include for-phone-only {
                color: $colorPink;
            }
        }

        .hero__title {
            display: flex;
            flex-direction: column;
            gap: $s8;

            @include for-phone-only {
                line-height: 2rem;
                font-size: $s24;
                color: $colorWhite;
            }

            span {
                font-size: $s32;
                padding-bottom: $s8;
                color: $colorPink;
            }
        }

        .hero__line {
            width: 100%;
            border: 1px solid $colorPink--light;

            @include for-phone-only {
                display: none;
            }
        }

        .hero__description {
            @include for-phone-only {
                padding-right: $s8;
            }
        }

        .hero__btn {
            @include for-phone-only {
            }
        }
    }

    .hero__side {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $s64;
        border: 1px solid $colorPink--light;
        border-radius: $s16;
        padding: $s64 $s32;

        .hero__img {
            margin: 0 auto;
        }

        @include for-phone-only {
            gap: $s16;
            padding-top: $s32;
            padding-left: $s32;
            background-color: $colorDark--light;
        }

        .hero__copyEmail {
            display: flex;
            gap: $s16;
            align-items: center;
            width: fit-content;
            border: 1px solid $colorPink--light;
            border-radius: $s16;
            padding: $s8 $s16;
            background-color: $colorDark--light;
            color: $colorPink;

            @include for-phone-only {
                box-sizing: border-box;
                margin: 0 auto;
                color: $colorWhite;
            }
        }
    }
}

.hero__scroll {
    display: flex;
    align-items: center;
    gap: $s8;
    opacity: .7;

    @include for-phone-only {
        display: none;
    }
}