#whatIDo {
    border-top: 1px solid $colorPink--light;
}

.whatIDo__content {
    width: 100%;
    box-sizing: border-box;
    background-color: $colorDark--light;
    padding: $s64;
    border-radius: $s16;

    @include for-phone-only {
        padding: 0;
        background-color: transparent;
    }

    .whatIDo__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: $s24;

        p {
            max-width: 30vh;
        }
    }
}