#projects {
    background-color: $colorDark--light;
}

.projectsHomeCards__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $s64;

    @include for-tablet-portrait-up {
        gap: $s32;
    }
}