#contact {
    background-color: $colorDark--light;
}

.contact__content {
    width: 100%;
    display: grid;
    gap: $s32;

    @include for-phone-only {
        grid-template-columns: 1fr;
    }

    @include for-tablet-landscape-up {
        grid-template-columns: repeat(2, 1fr);
    }

    article {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: $s32;
        text-align: center;
        border: 1px solid $colorPink--light;
        border-radius: $s16;
        padding: $s64;

        @include for-phone-only {
            padding: $s32;
        }

        h4 {
            color: $colorPink;
        }

        img {
            margin: 0 auto;
            max-width: 76%;
        }
    }
}

#form__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $s32;
    border-radius: $s16;
    background-color: $colorWhite--light;
    padding: $s64;

    @include for-phone-only {
        padding: $s32;
    }

    .form__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $s32;

        @include for-phone-only {
            width: 100%;
            grid-template-columns: none;
        }

        label {
            color: $colorPink;
        }

        .form__info-frame {
            display: flex;
            flex-direction: column;
            gap: $s16;
        }

        .form__info-input {
            display: flex;
            flex-direction: column;
            gap: $s8;
        }

        .form__info-textarea {
            display: flex;
            flex-direction: column;
            gap: $s8;
            height: 100%;
        }

        #message {
            height: 100% !important;
        }
    }
}

.form__services-content {
    display: flex;
    flex-direction: column;
    gap: $s8;

    @include for-phone-only {
        width: 100%;
    }

    h4 {
        color: $colorPink;
    }

    .form__services-frame {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $s24;

        @include for-phone-only {
            display: flex;
            flex-direction: column;
        }

        label {
            cursor: pointer;
            display: flex;
            height: $s64;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: $s16;
            border: 1px solid $colorPink--light;
            border-radius: $s16;
            transition: .2s;

            &:hover {
                background-color: $colorPink--light;
            }

            @include for-phone-only {
                width: 100%;
                height: $s32;
                padding: $s16 0;
            }
        }

        input[type="radio"] {
            position: absolute;
            opacity: 0;
        }

        input[type="radio"]:checked + label {
            background-color: $colorPink--light;
        }
    }
}

