.hero__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $s32;

    .hero__info {
        display: flex;
        grid-column: span 2;
        flex-direction: column;
        justify-content: space-between;
        padding: $s64;
        gap: $s24;
        border-radius: $s16;
        background-color: $colorDark--light;

        .hero__line {
            width: 100%;
            border: 1px solid $colorPink--light;
        }

        .hero__copyEmail {
            display: flex;
            gap: $s16;
            align-items: center;
            width: fit-content;
            border: 1px solid $colorPink--light;
            border-radius: $s16;
            padding: $s8 $s16;
            background-color: $colorDark--light;
            color: $colorPink;
        }
    }

    .hero__side {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $s64;
        border: 1px solid $colorPink--light;
        border-radius: $s16;
        padding: $s64 $s32;

        .hero__img {
            margin: 0 auto;
        }
    }
}

.hero__scroll {
    display: flex;
    align-items: center;
    gap: $s8;
    opacity: .7;
}