@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../abstracts/mixins';

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--color-2);

    @include for-phone-only {
        font-size: 32px;
        font-weight: 800;
    }

    @include for-small-desktop {
        font-size: 26rem;
    }

    @include for-desktop-up {
        font-size: 32px;
    }

    @include for-big-desktop-up {
        font-size: 64px;
    }
}

h2 {
    font-weight: 700;
    color: var(--color-2);

    @include for-phone-only {
        font-size: 24px;
    }

    @include for-small-desktop {
        font-size: 20px;
    }

    @include for-desktop-up {
        font-size: 24px;
    }

    @include for-big-desktop-up {
        font-size: 32px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

li, span {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;

    @include for-phone-only {
        line-height: 22px;
    }

    @include for-desktop-up {
        line-height: 24px;
    }

    @include for-big-desktop-up {
        line-height: 32px;
    }
}