@import '../abstracts/variables';

.about__container {
    height: 50vh;
    padding-top: 6rem;
    padding-bottom: 2rem;

    p {
        margin-bottom: 1rem;
    }
}

.about__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    overflow: hidden;
    gap: 3rem;

    .about__info-content {

    }

    .about__profile-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .img-profile__content {
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            background-image: url('https://res.cloudinary.com/djkjxhprl/image/upload/v1675134136/WhatsApp_Image_2023-01-19_at_1.43.21_PM_q6neoq.jpg');
            background-position: center;
            background-size: cover;
        }
    }

    .about__skill-content {
        display: flex;
        grid-auto-flow: column;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        gap: 1rem;

        .skill-card {
            min-width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
            padding: 0.4rem;
            border: 1px solid #06D6A0;
            border-radius: 0.6rem;
            transition: 0.4s;
            
            p {
                margin: 0;
                color: #06D6A0;
            }

            .about__icon {
                width: 2.8rem;
            }

            &:hover {
                color: white;
                background-color: #06D6A0;
                transition: 0.4s;

                p {
                    color: white;
                }

                .about__icon {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(44%) saturate(0%) hue-rotate(312deg) brightness(103%) contrast(101%);                }
            }    
        } 
    }

    

    
}