@import '../components/buttons';

.hero-container {
    height: fit-content;
    margin-top: 4rem;
    padding: 19.75rem 14.5rem;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero-container__info-block {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 2px solid var(--violetLight-color);
        margin-right: 8.125rem;

        .info-block__span {
            color: var(--color-2);
            font-size: 24px;
            font-weight: 600;
        }

        .info-block__title {
            color: var(--color-3);
            font-size: 64px;
            font-weight: bold;
        }

        .info-block__subtitle {
            color: var(--color-2);
            font-size: 24px;
            font-weight: 600;
        }

        .info-block__text {
            color: var(--color-3);
            font-size: 20px;
            font-weight: 400;
            margin-top: 2.875rem;
            line-height: 32px;
        }

        .info-block__bottom-element {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .bottom-element__button {
                @include button-fill;
            }

            .bottom-element__span {
                color: var(--color-3);
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items: center;
            }
        }
    }

    .hero-container__icons-block {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1.25rem;
    
        .icons-block__icon {
            width: 2.625rem;
            height: 2.625rem;
            padding: 0.125rem;
            color: var(--color-3);
            background-color: var(--color-2);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 0.8rem;
        }

        .icons-block__line {
            margin: auto;
            width: 1px;
            height: 14.813rem;
            background-color: var(--color-3);
        }
    }
}