@import '../components/buttons';
@import '../abstracts/mixins';

.hero-container {
    height: 100vh;
    padding: 0 14.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 40%;
        z-index: -2;
        transform: scaleX(-1);
        transform: scaleY(-1);
        background-image: url('https://imgcloud.s3.us-east-1.wasabisys.com/pU9JBlKJdK.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
    }

    @include for-phone-only {
        padding: 7rem 2rem;
        background-image: none;
        background-color: var(--color-1);
    }
    @include for-tablet-portrait-up {
        padding: 0 9.5rem;
    }
    @include for-desktop-up {
        padding: 0 9.5rem;
    }

    .hero-container__info-block {
        height: fit-content;
        display: flex;
        flex-direction: column;

        @include for-phone-only {
            margin: 0;
        }

        .title__span {
            width: fit-content;
            padding-right: 4rem;
            padding-bottom: 0.6rem;
            color: var(--color-3);
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid var(--color-2);
        }

        .info-block__title {
            margin-top: 0.3rem;
            color: var(--color-2);
            font-size: 40px;
            font-weight: 900;

            @include for-phone-only {
                display: none;
            }
        }

        .info-block__text {
            width: 85%;
            color: var(--color-3);
            margin-top: 1.5rem;
        }

        .info-block__bottom-element {
            display: flex;
            margin-top: 3rem;
            gap: 0.5rem;

            .bottom-element__button {
                @include button-fill;
            }

            .bottom-element__button--cv {
                @include button-outline;
            }

            .bottom-element__span {
                color: var(--color-3);
                font-size: 12px;
                opacity: 0.2;
                font-weight: 300;
                display: flex;
                align-items: center;

                @include for-phone-only {
                    display: none;
                }
            }
        }

        .info-block__span--scroll {
            font-size: 14px;
            font-weight: 300;
            color: var(--color-3);
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-top: 4rem;
            opacity: 0.2;
        }
    }

    .hero-container__img-block {

        .img-block__img {
            width: 30rem;
            margin-right: -3rem;
        }
    }
}