
.hero-container {
    padding: 0 10rem;
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero-container__info-block {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 2px solid var(--violetLight-color);

        .info-block__span {
            color: var(--color-5);
            font-size: 20px;
            font-weight: 500;
        }

        .info-block__title {
            color: var(--color-6);
            font-size: 40px;
            font-weight: bold;
        }

        .info-block__subtitle {
            color: var(--color-2);
            font-size: 24px;
            font-weight: 600;
        }

        .info-block__text {
            color: var(--color-6);
            font-size: 16px;
            font-weight: 400;
            margin-top: 2rem;
        }

        .info-block__bottom-element {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            .bottom-element__span {
                color: var(--color-5);
                display: flex;
                align-items: center;
            }
        }
    }

    .hero-container__icons-block {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    
        .icons-block__icon {
            width: 2rem;
            height: 2rem;
            padding: 0.2rem;
            color: var(--color-2);
            background-color: var(--color-5);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 0.8rem;
        }

        .icons-block__line {
            margin-right: 1.1rem;
            width: 2px;
            height: 9rem;
            background-color: var(--color-2);
        }
    }
}