.projects__container {
    height: 100vh;
    border-top: 1px solid whitesmoke;
    padding-top: 6rem;
    margin-bottom: 2rem;

    .projects__title {
        margin-bottom: 3rem;
    }
}

.projects__content {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;

    .projects__info-side {
        height: fit-content;
        padding: 2rem;
        border-bottom: 2px solid var(--violetLight-color);
        border-left: 2px solid var(--violetLight-color);
    
        .info-side__img {
            width: 100%;
            height: 24rem;
            background-image: url('https://cdn.pixabay.com/photo/2019/10/09/07/28/development-4536630_960_720.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        h2 {
            margin-bottom: 0.6rem;
            color: var(--violetLight-color);
        }

        p {
            margin-bottom: 1rem;
        }
    }

    .projects__template-side {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 2rem;
    }
}