@import '../abstracts/mixins';
@import '../components/buttons';

.projects__container {
    position: relative;
    height: fit-content;
    padding: 12rem 14.5rem;

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 40%;
        z-index: -2;
        transform: scaleX(1);
        transform: scaleY(1);
        background-image: url('https://imgcloud.s3.us-east-1.wasabisys.com/pU9JBlKJdK.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
    }

    @include for-phone-only {
        padding: 4rem 2rem;

        &::after {
            display: none;
        }
    }

    @include for-desktop-up {
        padding: 5rem 9.5rem;
    }

    .projects__title {
        margin-bottom: 2rem;

        @include for-phone-only {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

.projects__content {
    @include for-phone-only {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @include for-desktop-up {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        align-items: end;
    }

    
}

.projects__card {
    height: 24rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    color: var(--color-2);
    background-color: var(--color-3);
    overflow: hidden;

    @include for-phone-only {
        height: 7.5rem;
        flex-direction: row;
    }

    .card__img {
        width: 100%;
        height: 100%;
        background-image: url('https://i.ibb.co/C2tVfy4/474596a57830bfdb9a443a1ae6220270.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include for-phone-only {
            width: 30%;
        }
    }

    .card__box-text {
        padding: 0.5rem 1rem;
        height: 90%;

        @include for-phone-only {
            height: 100%;
            padding: 1rem;
        }

        .box-text__block-title {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }

        .box-text__span {
            font-size: 12px;
            font-weight: 400;
            color: var(--color-1);
            opacity: 0.4;
        }

        .box-text__p {
            color: var(--color-1);
            margin-top: 1rem;
            font-size: 14px;
        }
    }

    .card__button {
        padding: 1rem 0;
        border: none;
        color: var(--color-3);
        background-color: var(--color-2);
    
        @include for-phone-only {
            width: 16%;
        }
    }
}
