
// Colors
:root {
    --black-color: #160b2b;
    --white-color: #f5f1f1;
    --grey-color: #f1f1f1;
    --violet-color: #42047e;
    --violetLight-color: #5c3d99;
    --blue-color: #38a3a5;
    --green-color: #07f49e;
    --greenLight-color: #80ed99;
}
