.header__container {
    height: 1.4rem;
    position: fixed;
    background-color: var(--color-1);
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 128px;
    border-bottom: 1px solid var(--color-3);
}

.header__logo {
    font-size: 20px;
    font-weight: 700;
    
    a {
        color: var(--color-5);
        text-decoration: none;
    }
}

.header__navbar {
    width: 33%;

    ul {
        display: flex;
        gap: 0.2rem;
        list-style: none;

        li {
            width: fit-content;
            color: var(--color-6);
        }
    }


    .navbar__item {
        font-size: 14px;
        font-size: 400;
        width: 100%;
        padding: 0 1.8rem;
        transition: 1s;
        cursor: pointer;
    }

    .navbar__item--active {
        transition: 0s;
        border-bottom: 0.15rem solid var(--color-3);
    }
}

.header__icons {
    color: black;
}