button {
    cursor: pointer;
    width: fit-content;
    font-size: $s16;
    font-weight: $fontRegular;
    border: none;
    border-radius: $s16;
    padding: $s14 $s24;
    transition: ease-out .4s;

    &:hover, &:focus {
        box-shadow: inset 200px 0 0 0 $colorPink;    
    }
}

.button--primary {
    color: $colorWhite;
    border: 1px solid $colorPink;
    background-color: transparent;

    @include for-phone-only {
        border: 0;
        background-color: $colorPink;
    }
}