.hero__copyEmail {
    cursor: pointer;
    display: flex;
    gap: $s16;
    align-items: center;
    width: fit-content;
    border: 1px solid $colorPink--light;
    border-radius: $s16;
    padding: $s8 $s16;
    background-color: $colorDark--light;
    color: $colorPink;
    transition: .5s;

    &:hover {
        background-color: $colorPink--light;
    }

    @include for-phone-only {
        box-sizing: border-box;
        margin: 0 auto;
        color: $colorWhite;
    }
    
    @include for-tablet-portrait-up {
        margin: 0 auto;
    }

    @include for-tablet-landscape-up {
        margin: 0;
    }

    @include for-desktop-up {
        margin: 0;
    }
}