.education-card__content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: $colorDark--light;
    padding: $s24;
    border-radius: $s16;

    h4 {
        color: $colorPink;
    }

    p {
        font-size: $s14;
    }

    @include for-phone-only {
        flex-direction: column;
        gap: $s16;

        p {
            width: fit-content;
            padding: $s8 $s16;
            border-radius: $s16;
            border: 1px solid $colorPink--light;
        }
    }
}