.projectsHomeCard__content {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4%;
    align-items: center;
    background-color: $colorDark--light;
    padding: $s64;
    border-radius: $s16;

    @include for-phone-only {
        padding: 0;
        background-color: $colorWhite--light;
        display:flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;

        .projectsHomeCard__info-content {
            order: 2;
        }
    }

    @include for-tablet-portrait-up {
        gap: $s32;

        .projectsHomeCard__info-content {
            order: 2;
            gap: $s24;
        }
    }

    @include for-tablet-portrait-up {
        display:flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    @include for-tablet-landscape-up {
        display: flex;
        flex-direction: row;
    }

    @include for-desktop-up {
        flex-direction: row;
    }
}

.projectsHomeCard__content--secondary {

    @include for-tablet-landscape-up {
        flex-direction: row-reverse;
    }
    
    @include for-desktop-up {
        flex-direction: row-reverse;
    }
}

.projectsHomeCard__info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $s24;

    span {
        text-decoration: underline;
        text-decoration-color: $colorPink;
    }

    @include for-phone-only {
        box-sizing: border-box;
        border: 1px solid $colorPink--light;
        border-radius: 0 0 16px 16px;
        padding: $s32;
    }

    @include for-tablet-portrait-up {
        padding: 0;
    }

    .projectsHomeCard__description {
        font-size: $s18;

        @include for-phone-only {
            display: none;
        }
    }

    .projectsHomeCard__tech {
        color: $colorPink;
    }

    .projectsHomeCard__title-frame {
        display: flex;
        gap: $s8;
        text-align: start;

        span, p {
            color: $colorPink;
        }

        @include for-phone-only {
            gap: 0;
            flex-direction: column;
            justify-content: start;

            span {
                display: none;
            }

            p {
                font-size: $s14;
            }
        }

        @include for-tablet-portrait-up {
            justify-content: center;
        }
    }

    .projectsHomeCard__link-frame {
        display: flex;
        gap: $s16;
        align-items: center;
        border: 1px solid $colorPink--light;
        border-radius: $s16;
        padding-right: $s16;
        
        a {
            padding-top: $s8;
        }

        @include for-tablet-portrait-up {
            width: fit-content;
            margin: 0 auto;
        }
    }

    .projectsHomeCard__button {

        @include for-phone-only {
            width: 100%;
        }
    }
}

.projectsHomeCard__img-content {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    border: 1px solid $colorPink;
    padding: $s8;
    border-radius: $s16;
    overflow: hidden;
    transition: .4s;
    background-color: $colorPink--light;

    &:hover {
        background-color: $colorPink;
    }

    @include for-phone-only {
        border: none;
        padding: 0;
        border-radius: 16px 16px 0px 0px;
    }
    
    .projectsHomeCard__img {
        width: 100%;
        height: 100%;
        border-radius: $s16;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1.6s;

        &:hover {
            background-position: bottom;
        }

        @include for-phone-only {
            height: 100%;
            border-radius: 16px 16px 0px 0px;
        }
    }
}