.socialMedia-card__content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: $s24;
    column-gap: $s32;
    padding: $s16;
    border-radius: $s16;
    align-items: center;
    justify-content: center;
}