.socialMedia-card__content {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
    gap: $s24;
    padding: $s16;
    background-color: $colorDark--light;
    border-radius: $s16;
}