header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $colorDark;
    z-index: 10;

    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $s24 $s120;

        @include for-phone-only {
            padding: $s24 $s32;
        }

        @include for-tablet-portrait-up {
            padding: $s24 $s64;
        }

        select {
            cursor: pointer;
            color: $colorPink;
            border: 1px solid $colorPink;
            border-radius: $s16;
            padding: 0 $s16;
            background-color: transparent; 

            &:hover {
                color: $colorWhite;
                background-color: $colorPink--light;
                transition: .3s;
            }

            &:focus {
                outline: none;
            }

            option {
                color: $colorWhite;
                background-color: $colorDark;

                &:hover {
                    background-color: $colorPink--light;
                }
            }
        }
    }

    .header__title {
        color: $colorWhite;
        display: flex;
        align-items: center;
        gap: $s8;

        img {
            width: 32px;
        }

        @include for-phone-only {

            
        }
    }

    .header__nav {
        @include for-phone-only {
            display: none;
        }

        @include for-tablet-portrait-up {
            display: none;
        }

        @include for-tablet-landscape-up {
            display: block;
        }

        @include for-desktop-up {
            display: block;
        }
    }

    .header__options {
        display: flex;
        gap: $s16;

        #select__languages {
            color: $colorPink;
            border-radius: $s16;
            padding: 0 $s16;
            border: 1px solid $colorPink;
            background-color: $colorDark;
            transition: .3s;

            &:focus {
                border: 1px solid $colorPink;
            }

            option:checked {
                border-radius: $s16;
            }
        }

        .header__icon {
            cursor: pointer;
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            color: $colorWhite;
            border: 1px solid $colorWhite;
            border-radius: 50%;
            transition: .3s;

            &:hover {
                background-color: $colorWhite;
                color: $colorPink;
            }
        }
    }
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $colorDark;
    width: 270px;
    right: -270px;
    top: 0;
    height: 100vh;
    transition: .5s;
}

.sidebar.open {
    right: 0;
}

.sidebar__icon-div {
    height: fit-content;
    padding: 29px $s32;
    display: flex;
    justify-content: end;
    
    .sidebar__icon {
        color: $colorWhite;
        cursor: pointer;
    }
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: $s16;
    background-color: $colorDark--light;
    gap: $s16;

    .sidebar__btn {
        width: 87%;
        display: flex;
        justify-content: space-between;
    }

    .hero__copyEmail {
        width: 74%;

        @include for-phone-only {
            margin: 0;
        }

        @include for-tablet-portrait-up {
            margin: 0;
        }
    }

    .sidebar__nav {
        @include for-tablet-landscape-up {
            display: none;
        }

        @include for-desktop-up {
            display: none;
        }
    }
}