header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $colorDark;
    z-index: 10;

    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $s24 $s120;

        @include for-phone-only {
            padding: $s24 $s32;
        }

        @include for-tablet-portrait-up {
            padding: $s24 $s64;
        }
    }

    .header__title {
        color: $colorWhite;
        display: flex;
        align-items: center;
        gap: $s8;

        img {
            width: 32px;
        }

        @include for-phone-only {

            
        }
    }

    .header__icon {
        display: flex;
        align-items: center;
        color: $colorWhite;
    }
}