header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.header__logo {
    color: white;
    background-color: blue;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 12px;
}

.header__navbar {
    width: 16%;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}

.header__icons {

}